.image--container {
  width: 200px;
  height: 150px;
  border-radius: 50px;
  padding: 5px;
  position: relative;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
}