.image--container {
  height: 100%;
  width: 90%;
  border-radius: 50px;
  padding: 5px;
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 2;
  box-sizing: border-box;
  overflow: hidden;
  transition: all .1s ease-in;
}

@media (min-width: 600px) {
  .image--container {
    width: 100%;
  }
}