.info--container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 100%;
  box-sizing: border-box;
}

.image--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-height: 90%;
}

.text--container {
  border-radius: 10px;
  background-color: #3DB2FF;

}

.icon {
  width: 30px;
  margin-right: 10px;
}

.info--list {
  width: 100%;
  height: 100%;
  color: #000;
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3, 33.3333%);
  justify-items: start;
  align-items: center;
  padding: 0 10px;
  margin: 0;
}

.info--list li {
  line-height: 2rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem;
  justify-content: space-around;
}

.info--list li>span {
  display: block;
  width: 100%;
  height: 50%;
}

.info--list li>span:first-child {
  color: #fff;
}

.info--list li>span:last-child {
  font-size: 1.2rem;
}

.types span:last-child {
  display: flex;
  margin-top: 5px;
}

@media (min-width:600px) {
  .info--container {
    width: 100%;
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .image {
    max-width: 100%;
  }
}