.main {
  width: 100%;
  height: calc(100vh - 180px);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  box-sizing: border-box;

}

.cards--container {
  grid-column: 2 / 3;
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: auto;
}

.buttons {
  margin: 0 50px;
  background-color: transparent;
  border: none;
}

.arrow {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}