.main {
  width: 100%;
  height: calc(100vh - 180px);
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-items: center;
  align-items: center;
  margin-top: 100px;
  box-sizing: border-box;
}

.buttons {
  margin: 0 50px;
  background-color: transparent;
  border: none;
}

.arrow {
  font-size: 3rem;
  color: #fff;
  cursor: pointer;
}